@import "tailwindcss";


@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Gilroy-Semibold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/archivo-v25-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/archivo-v25-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/archivo-v25-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/archivo-v25-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Konnect';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Konnect-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Konnect';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Konnect-Regular.woff2') format('woff2');
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  color: #303030;
  background-color: #efeff2;
}

.archivo {
  font-family: "Archivo", sans-serif;
}

.konnect {
  font-family: "Konnect", sans-serif;
}

.gilroy {
  font-family: "Gilroy", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav,
nav+button {
  font-size: 11px;
  font-weight: 500;
}

@media screen and (min-width:1280px) {
  nav {
    font-size: 13px;
  }
}